page-home {

    .searchbar-search-icon {
        background-image: url()!important;   
    }

    .menuBtn{
        position: absolute;
        z-index: 5;
    }

    .searchbar{
        //position: absolute;
        //top: 2.5px;
        width: 100%;
        //left: 0;
        margin: auto;
    }

    ion-card {
        position: relative;
        min-height: 30vh;
    }

    .card-title {
        position: absolute;
        bottom: 10%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 2.0em;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .card-username{
        position: absolute;;
    }

    .card-content{
        position: absolute;
        //margin: auto;
        bottom: 5%;
        width: 100%;
    }

    img {
        //position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:  100%;
        height: 25vh;
        //background-position: 50% 50%;
        //background-repeat:   no-repeat;
        //size:     cover;
    }
    
    .btnPos {
        position: fixed;
        bottom: 15px;
        right: 15px;    
        }
    
}
