
<ion-header>

  <ion-navbar color="dark">
    <ion-title>New Post</ion-title>
    <ion-buttons end>
      <button end ion-button color="primary" clear (click)="addPost(post)">Save</button>
    </ion-buttons>   
  </ion-navbar>

</ion-header>


<ion-content padding class="content">

  <label class="uploader" *ngIf="!picture" (click)="captureMedia()">                   
    <ion-icon name="add"></ion-icon>
  </label>

  <ion-slides class="imgSlide" *ngIf="picture">
    <ion-slide *ngFor="let image of imageArray">
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(image)"/>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-tags-input [(ngModel)]="tags" [color]="'dark'" [type]="'text'" [mode]="'md'" [once]="'true'" [placeholder]="'add tag'" (onChange)="onTagChange($event)"></ion-tags-input>
    <ion-list>
      <ion-item>
        <ion-label floating>Titel</ion-label>
        <ion-input class="title" type="text" [(ngModel)]="post.title" autocomplete="on" autocorrect="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description, {{textLeft}} letters left</ion-label>
        <ion-textarea rows="7" maxLength="100" type="text" [(ngModel)]="post.content" (ionChange)='textCounter()' autocomplete="on" autocorrect="on"></ion-textarea>
      </ion-item>
      <ion-item-divider color="dark" class="itemDivider">
        Location information
      </ion-item-divider>
      
      <ion-item>
        <ion-label floating>District</ion-label>
        <ion-input type="text" [(ngModel)]="address.district" autocomplete="on" autocorrect="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Cityname</ion-label>
        <ion-input type="text" [(ngModel)]="address.cityname" autocomplete="on" autocorrect="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Country</ion-label>
        <ion-input type="text" [(ngModel)]="address.country" autocomplete="on" autocorrect="on"></ion-input>
      </ion-item>      
    </ion-list>
  </ion-card>
  
</ion-content>
